	<head>
		<link rel="stylesheet" href="css/style.css">
		
	</head>
		
		<form  class="form-horizontal border" name="personForm" ng-submit="personForm.$valid">
	
		<div class="form-group">
			<label class="col-sm-2 control-label">Employee ID:</label> 
			<div class="col-sm-10">
				<input  class="form-control" type="number" name="empid" ng-model="newAuthor.empid" ng-pattern="/^[0-9]$/" required/>
				<span style="color:Red" ng-show="personForm.empid.$dirty && personForm.empid.$error.pattern">Only Numbers Allowed</span>
			</div>	
		</div>	
		<div class="form-group">
			<label class="col-sm-2 control-label">Name:</label> 
			<div class="col-sm-10">
				<input class="form-control" type="text" name="name" ng-model="newAuthor.name" ng-pattern="/^[a-zA-Z]{}$/" required/>
				<span style="color:Red" ng-show="personForm.name.$dirty && personForm.name.$error.pattern">Only Characters Allowed</span>
			</div>	
		</div>	
		<div class="form-group">
			<label class="col-sm-2 control-label">Email:</label> 
			<div class="col-sm-10">
				<input  class="form-control" type="text" name="email" ng-model="newAuthor.email" required/>
			</div>	
		</div>	
		<div class="form-group">
			<label class="col-sm-2 control-label">Skills:</label> 
			<div><input type="checkbox" value="Java" ng-click="toggleSelection('Java')"/>Java</div>
			<div><input type="checkbox" value=".Net" ng-click="toggleSelection('.Net')"/>.Net</div>
			<div class="checkboxStyle"><input  type="checkbox" value="HTML" ng-click="toggleSelection('HTML')"/>HTML</div>
			<div class="checkboxStyle"><input   type="checkbox" value="JavaScript" ng-click="toggleSelection('JavaScript')"/>JavaScript</div>
			<div class="checkboxStyle"><input  type="checkbox" value="Other" ng-model="hasChecked" ng-click="toggleSelection()"/>Other
			<input  class="form-control change" type="text" value="moreSkills" ng-show="hasChecked" ng-model="newAuthor.others"/>
			</div>
			
		</div>	
		<div class="form-group">
			<label class="col-sm-2 control-label">Department:</label> 
			<div class="col-sm-10">
				<input  class="form-control" type="text" name="department" ng-model="newAuthor.department"/>
			</div>	
		</div>	
		<div class="form-group">
			<label class="col-sm-2 control-label">Website:</label> 
			<div class="col-sm-10">
				<input  class="form-control" type="text" name="website" ng-model="newAuthor.website"/>
			</div>	
		</div>	
		<button class="btn btn-primary btn-2" type="submit" ng-click="addNew(newAuthor,skills)">Save</button>
		</form>	
		
	
	



