.two{
	@include btnmain;
	margin-bottom: 10px;
    margin-left: 700px;
    right: 85px;
}

.two:hover {
	@include btnhovr;
}

.four{
	@include btnmain;
	margin-right: 26px;
    right: 0;  
}

.four:hover {
	@include btnhovr;
}
