.brand {
	padding-right : 1%;
}
#creative-showcase-footer {
	width: 21%;
    float: left;
    margin-top: 5%;
    margin-left: 3.1%;
	
}
#creative-showcase-footer  p {
	margin: 0px;
    border-left: 1px solid grey;
    padding-left: 3%;
    font-size: 14px;
}
.explore-list a  {
	text-decoration : none;
	color : rgba(255,255,255,0.8);
}
.explore-list  {
	list-style-type : none;
}
.explore-more-list {
	display : inline-block;
}
.features {
	padding:5% 0 0 1%;
	background-color : #e1e1e1;
	}
.features h2 , .works h2, h4 {
	text-align : center;
}
.for-icon{
	display :inline-block;
	padding-right: 10px;
}
.feature-list {
	display : flex;
	padding : 4% 0 6% 0;
}
.feature-list-item > p {
	font-size : 1em;
}
.feature-list-item{
	display : flex;
}
.for-footer { 
	height : 150px;
	width : 200px;
	float : left;
	margin-top : 5%;
	margin-left : 3%;
}
.for-footer  ul {
	padding-left : 0;
	margin-right: 15%;

}
.for-subscribe {
	border : 2px solid rgba(255,255,255,0.8);
	border-radius: 5px;
    height: 39px;
    width: 196px;
	margin-top : 10%;
}
.for-horizontal {
	width: 80px;
    margin: 0 25px 0 0;
}
 } 
.for-horizontal-line1 {
	border-top : 1px solid grey;
	width: 8%;
	display : inline;
	float : right;
 } 
.parent {
	position : absolute;
	left : 50%;
	border :1px solid black;
	width : 100px;
	height : 100px;
}
.main-footer {
	border-top : 1px solid #000;
	background-color:#309c85;
	color : rgba(255,255,255,0.8);
	font-size: 14px;
}
.for-copyrights {
	float : left;
	margin-left: 3%;
	color : #000;
}
.heading {
	text-align : center;
	padding-top : 15%; 
	background-color:#309c85;
	padding-bottom :7%;
	color : #fff;
}

.heading h1, h3, h6 {
	margin : 0;
}
.heading h3{
	color : rgba(255,255,255,0.8);
	font-size : 180%;
}
.heading h1 {
	font-size : 250%;
}
.heading h6 {
	font-size : 90%;
	color : rgba(255,255,255,0.8);
}
.horizontal-two {
	margin-right : 10%;
	display :inline;
}
.horizontal-line {
	display :flex;
	margin-left :40%;
}
header {
	background-color:#309c85;
}
.images {
	display : inline;
	float:left;    
	width: 25%;
	margin : 0;
}
.images img{	
    width: 100%;
	margin : 0;
}
.logo {
	display : inline;
	margin-left : 1%;
}
.menu {
	text-decoration : none;
	padding : 10px 10px;
	color : #000;
}
.menu-for-works{
	text-decoration : none;
	padding : 10px 10px;
	color : #000;
}
.menu-for-works:hover {
	background-color : green;
	background-color:#309c85;
	color : #FFF;
	border-radius : 4px; 
}
.nav-bar {
	float : right;
}
.nav-bar-for-works{
	margin-left : 30%;
	margin-bottom: 2%;
}	
.tag-line {
	margin-left : 1%;
}
.works {
	padding : 2% 0 2% 0;
	background-color : #f6f1ed;
}
.works-for-images{
	display : inline;
}
.works-for-images:after, .main-footer:after{
	clear:both;
	visibility:hidden;
	display:block;
	content:"";
}
.wrapper {
	width : 970px;
	margin-left: auto;
    margin-right: auto;
	padding-left: 15px;
    padding-right: 15px;
}



