.container{
	padding-bottom:10px;
}

.btn{
	margin-right:10px;
	margin-top: 11px;
}

.btn-2{
	margin-left:17%;
}

.form-control{
	width:50%;
}

.border{
	border:2px solid black;
	padding: 2% 1%;
	margin:1% 1%;
}
.checkboxStyle {
    margin-left: 16.7%;
}

.change{
	width:48%;
	margin-left:2%;
}

