body {
	padding:0;
	margin:0;
}

.wrapper {
	width:800px;
	margin:0 auto;
}

header {
	height:50px;
	background-color:#000;
	border-bottom:4px solid #87ceeb;
}

.profile {
	height:50px;
	width:50%;
	float:right;
}

.profile-image {
	margin-left: 50px;
	float: left;
	margin-top:5px;
}

img {
	border: 2px solid #fff;
	border-radius: 2px;
	margin-bottom:15px;
}

.name {
	color:white;
	margin-left: 20px;
	float: left;
	margin-top:15px;
}

.display-icons {
	float:right;
	border-left:1px solid #808080;
	height:50px;
	opacity:0.2px;
	margin-bottom:50px;
}

.display-icons img{
	border:0;
	margin:13px 5px;

}

#navlist {
  margin-bottom:10px; 
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navlist li {
    height: 25px;
    display: block;
	width:25px;
	float:left;
	padding:8px;
}

#home {
	background: url('../images/i1.png');
	background-repeat:no-repeat;
	border-radius:2px;
}

#prev {
	background: url('../images/i2.png');
	background-repeat:no-repeat;
}

#next {
	background: url('../images/i3.png');
	background-repeat:no-repeat;
}

.user-details {
	margin:auto;
}

.upload-data {
	width:200px;
	float:left;
}

.picture {
	height: 150px;
	width: 150px;
	background-color:#808080;
}

.picture-class {
	width:100px;
	padding:5px 1px 5px 3px;
}

.user-info {
	float:left;
	margin-bottom:20px;
	margin-left:50px;
	width:65%;
}

.user-info  input {
	
	margin-right:8px;
	padding:5px 1px 5px 3px;
}

.user-info label {

width:35%;
display:inline-block;

}

#mandatory-symbol {
	color:#ff0000;
}

.msgColor{
	color:#ff0000;
}

.access {
	margin-left:0;
}

#message {
	margin-left:35%;
}

#foremp {
	margin-right:4px;
}

.greeting{
	width:115px;
	padding:5px 1px 5px 3px;
}

p {
color:#008000;
font-size:10px;
margin-left:180px;
}

.noimg {
	height:100px;
	border:1px solid #808080;
	width: 180px;
    margin-left: 180px;
	text-align:center;
}

.action {
	background-color: #d3d3d3;
    clear: left;
    height: 40px;
    position: relative;
    margin-top: 23px;
    margin-left: -250px;
    margin-right: -32px;
	
}

.save {
	margin-bottom: 10px;
    margin-top: 7px;
    margin-left: 700px;
    position: absolute;
    right: 85px;
    padding: 4px;
    border-radius: 2px;
}

.save:hover {
	background-color:#add8ec;
}

.cancel{
	margin-right: 26px;
    right: 0;
    position: absolute;
    margin-top: 7px;
    padding: 4px;
    border-radius: 2px;
}

.cancel:hover {
	background-color:#add8ec;
}

.user-details:after {
	clear:both;
	content: "";
	display:block;
}

footer {
	background-color:#000;
	height:40px;
}




	