body {
	padding:0;
	margin:0;

}

.wrapper{
	width:800px;
	margin:0 auto;
}

header{
	height:$ht;
	background-color:$bg-col;
	border-bottom:4px solid skyblue;
}

.main{
	height:$ht;
	width:50%;
	float:$fr;
}

.im{
	@include com(5px, 50px);
	float: $fl;
}

.name{
	@include com(15px, 20px);
	color:white;
	float: $fl;
}

#man{
	color:red;
}



.field1{
	float:$fr;
	border-left:1px solid gray;
	height:$ht;
	opacity:0.2px;
	margin-bottom:50px;
}

#navlist {
  margin-bottom:10px; 
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;  
}

#navlist li, #navlist a {
    height: 25px;
    display: block;
	width:25px;
	 float:$fl;
	 padding:8px;
}

#home {
   @include bag(url('i1.png'));
	border-radius:2px;
}

#prev {
    @include bag(url('i2.png'));
}

#next {
	@include bag(url('i3.png'));
}


.back{
	display: inline-block;
	height:28px;
	width:32px;
}
	
.back:hover{
	background-color: $bg-col1;
	opacity: 0.5;
}	

.sec2{
	margin:auto;
}

.sec2:after{
	clear:both;
	content: "";
	display:block;
}

.div1{
	width:200px;
	float:$fl;
}
	
.pic{
	height: 150px;
	width: 150px;
	background-color:$bg-col1;
}
	
p{
color:green;
font-size:10px;
margin-left:180px;
}

.one{
	width:100px;
	padding:5px 1px 5px 3px;
	}

.div2{
	float:$fl;
	margin-bottom:20px;
	margin-left:50px;
	width:65%;
	
}

.acc{
	
	margin-right:10px;
	padding:5px 1px 5px 3px;
}

.acc1{
	margin-left:0;
}

.noimg{
	height:100px;
	border:1px solid grey;
	width: 180px;
    margin-left: 180px;
	text-align:center;
	
	
}

.confg {
	@include com(23px, -250px);
	background-color: lightgray;
    clear: left;
    height: 40px;
    position: relative;
    margin-right: -32px;
	
}

.six{
	width:115px;
	padding:5px 1px 5px 3px;
	
}

footer{
	background-color:$bg-col;
	height:40px;
}

.div2 label {

width:35%;
display:inline-block;

}

#em {

	margin-right:4px;
}

#message {

	margin-left:35%;

}
	